Structured_Authoring-master/Structured.dtd

<!ELEMENT catalogue (course+)>
<!ELEMENT course (title, id, format, description, instructor, start, end, tuition)>
<!ATTLIST course subject (marketing|accounting|communication|programming|web_design|computer_basics|Microsoft|language) #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT format (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT instructor (#PCDATA)>
<!ELEMENT start (#PCDATA)>
<!ELEMENT end (#PCDATA)>
<!ELEMENT tuition (#PCDATA)>
