Structured_Authoring-master/Structured.dtd

<!ELEMENT Offerings (Workshop+)>
<!ELEMENT Workshop (Topic, Presenters, Description, ID, Medium, Capacity, Length)>
<!ATTLIST Workshop Topic (Audience Analysis|Knowing the Context|Better Writing Better Meetings|Overcoming Technical Difficulties) #REQUIRED>
<!ELEMENT Presenters (#PCDATA)>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT Medium (#PCDATA)>
<!ELEMENT Capacity (#PCDATA)>
<!ELEMENT Length (#PCDATA)>
<!ELEMENT Address (#PCDATA)>
<!ELEMENT Room (#PCDATA)>
